{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fancycontact.css' %}">
    <title>Contact Page</title>
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <div class="creators">
            
            <div class="creator">
                <h3>Deepak Kumar</h3>
                <p><strong>Insta ID:</strong>    <a href="https://www.instagram.com/deepak_kumar__5/">Deepak Kumar</a>   </p>
                <p><strong>Phone:</strong> (+91) 9910645375</p>
            </div>
            <div class="creator">
                <h3>Harshit </h3>
                <p><strong>Insta ID:</strong> <a href="https://www.instagram.com/4849.harshit/">Harshit</a></p>
             
                <p><strong>Phone:</strong> (+91) 9265082681</p>
            </div>
            <div class="creator">
                <h3>Aiman Gupta</h3>
                <p><strong>Insta ID:</strong>    <a href="https://www.instagram.com/aiman_gupta/">Aiman Gupta</a></p>
                <p><strong>Phone:</strong> (+91) 9971708617</p>
            </div>
            <div class="creator">
                <h3>Kajal Chauhan</h3>
                <p><strong>Insta ID:</strong>    <a href="https://www.instagram.com/kajalchauhan0227/">Kajal Chauhan</a></p>
                <p><strong>Phone:</strong> (+91) 9990049363</p>
            </div>
            <div class="creator">
                <h3>Keshav Gupta</h3>
                <p><strong>Insta ID:</strong>    <a href="https://www.instagram.com/keshav_gupta__31/">Keshav Gupta</a></p>
                <p><strong>Phone:</strong> (+91) 9910050284</p>
            </div>
            <div class="creator">
                <h3>Aayush Meena</h3>
                <p><strong>Insta ID:</strong>    <a href="https://www.instagram.com/aayushm730/">Aayush Meena</a></p>
                <p><strong>Phone:</strong> (+91) 9911960396</p>
            </div>
            

        </div>
        <div class="button-container">
            <button onclick="history.back()">Back</button>
            <ul>
                <a href="{% static 'index.html' %}"></a>
  
            </ul>
    </div>
</body>
</html>
<!-- 730 -->
