{% load static %}

<!DOCTYPE html>    
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                OUTPUT
            </title>
            <link rel="stylesheet" href="{% static 'Output.css' %}">
        </head>
        <body>
            <section class="OPT">
                <p class="bmr-title">-------------BMR-IS-------------</p>
                <p class="bmr-value">------------{{bmr}}-------------</p>
                <div class="box">
                </div>   
            </section>
        </body>
    </html>
