{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>MAIN PAGE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style2.css' %}">
    </head>
    <body>
        <section class="villan">
            <div>

                <h2>WELCOME</h2>
                <p>SELECT YOUR DESIRED FEATURE</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="button-container">
                    <div class="line left"></div> <!-- Left line -->
                    <div class="line right"></div> <!-- Right line -->
                    <a href="ginput.html" class="button button1"><button type="submit" name="bulk"></button>WANT TO BULK UP</a>
                    <a href="ginput.html" class="button button2"><button type="submit"></button>WANT TO LOSE WEIGHT</a>
                    <a href="tracker.html" class="button button3"><button type="submit" ></button>CALORIE TRACKER</a>
                </div>   
            </div>
            
        </section>
    </body>
</html>
